@import './variables';

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;
}

h1,
h2 {
  font-size: 24px;
  margin: $spacing-xxs 0;
  font-weight: 300;
}

input {
  font-size: 0.8rem;
  border: none;
  border-bottom: 1px solid $gray40;
  padding: $spacing-xxs;
}

a {
  cursor: pointer;
  color: $blue-accent;

  &:hover {
    color: $blue-dark;
  }

  h1 {
    flex: 1;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $blue-accent;
  color: $white;
  padding: $spacing-3xs $spacing-xs;

  button {
    padding: 0 $spacing-xs;
  }
}

.header--content {
  display: flex;
  height: 10vh;
  > * {
    display: flex;
    align-items: center;
  }
}

main {
  padding: $spacing-xs $spacing-xxs;
  min-width: 300px;
  max-width: 100vw;
  margin: 0 auto;
}

.reading-list-container {
  padding: 0;
  width: 400px;
  height: 100vh;

  h2 {
    position: relative;
    color: $white;
    background-color: $gray80;
    margin: 0;
    padding: 0.75rem;
    text-align: center;
  }

  button {
    position: absolute;
    top: $spacing-xxs;
    right: $spacing-xxs;
    padding: 0;
    min-width: 36px;
  }
}

.reading-list-content {
  padding: $spacing-xxs;
}

.empty {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: $gray40;
  border: 2px solid gray;
  margin-top: 20px;
}

.full-width {
  width: 100%;
}
.book {
  border: 1px solid silver;
  margin-top: .5rem;
}
.book--container {
  flex-basis: calc(56.66% - 10px);
  padding: 10px;
}

.search-params {
  flex-grow: 3;

}
.sidebar {
  flex-grow: 1;

}
.books-wishlist-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 80%;
  padding: 10px;
}

.available-books-container{
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 100vh;
}

.flex-item {
  padding: 10px;
  border: 2px solid gray;
  margin-top: 20px;
  color: black;
  text-align: center;
  width: 100%;
}
.book-details {
  display: flex;
}
h2 { 
  border: 2px solid gray;
  padding: 10px;
}
.ui-hidden-accessible {
  position: absolute;
  left: -1000in;
  top: auto;
  height: 0px; 
  width: 0px; 
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px); 
}

@media (max-width: 736px) {
  .books-wishlist-section {
    width: 100%;
  }
  .books-list { flex-basis: calc(100% - 10px); }
  .books-list:first-child { flex-grow: 1; }
}